* {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  


body {
    background-color: #F0F8FF;
}
#contenedor {
    font-family:'Oxygen', Tahoma;
    color: #23426F;
}

.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  #videocozumel {
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  }

img {
max-width: 100%;
height: auto;  
}
#cabecera {
    color: #CDE6FF;
    background-color: #23426F;
    text-align: left;
    padding: 10px 10px 10px 2em;           
}

    .tituloseccion {
        background-color: #CDE6FF;
        text-align: left;
        padding: 5px 5px 5px 4em;
    }

    #tabla_playas {
        color: #23426F;
        table-layout: fixed;
        border-collapse: collapse;
        border: 3px solid #23426F;
        background-color: #FFFFFF;
    }

    #tabla_playas th, #tabla_playas td {
        border-collapse: collapse;
        border: 2px solid #23426F
    }

    #tabla_playas th {
        background-color: #23426F;
    }

    .titulostabla {
        color: #FFFFFF;
    }

    .nombrestabla {
        padding: 5px 5px 5px 5px;
    }

    .linktabla {
        padding: 5px 5px 5px 5px;
        font-style: italic;
    }

    #menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      #menu li {
        border-bottom: 5px s #23426F;
        border-radius: 0px 40px 0px 0px;
        padding: 8px;
        margin-bottom: 7px;
        background-color: #CDE6FF;
        font-weight: bold;
        font-style: italic;
        color: #23426F;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      
      #menu li:hover {
        background-color: #58a8f9;
      }

    #creditos {
        background-color: #CDE6FF;
        padding: 1em;
    }
